
.frame {
  background: rgba(251, 191, 36, 1);
  border-radius: 10px;
  position: relative;
}
@media (min-width: 1024px) {
  .lg\:clip-triangle {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background: rgba(254, 243, 199, 1);
    height: 900px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .lg\:shape  img{
    position: relative;
    width: 486px; 
    transform: scale(2);
    height: 388px;
  }
}

@media (max-width: 767px) {
  .sm\:clip-circle {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    background: rgba(254, 243, 199, 1);
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .sm\:shape  img{
    position: relative;
    width: 486px; 
    transform: scale(1);
    height: 388px;
  }
}